.tableContainer{
  width:90%;
  margin: auto;
}

.icons{
  width:15vh;
  text-align: center;
}

.form-select{
  height: 6vh;
}

.income{
  text-align: right;
}

.date{
  width: 15vh;
  border-right: 1px solid #aaa;
}

.income{
  width: 10vh;
}

.expense{
  width: 10vh;
  border-right: 1px solid #aaa;
}
.id{
  width: 8vh;
  border-right: 1px solid #aaa;
}
.concept{
  border-right: 1px solid #aaa;
}
