<div class="allContainer">
  <nav class="navbar navbar-light bg-light fixed-top">
    <ng-particles id="tsparticles" [options]="particlesOptions"></ng-particles>
    <div class="container-fluid">
      <div class="buttonContainer">
        <h1 class="navbar-brand roll-in-blurred-right" href="#">
          Balances Web
        </h1>
        <h3 class="showUserName">Welcome {{ user }}</h3>
        <button class="navbar-light navbar-toggler" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-light navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <!-- here waas ts particles -->
        <div class="offcanvas-body text-center">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a (click)="home()" class="nav-link active" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!isLogged; else viewLogout" (click)="login()" class="nav-link active"
                aria-current="page">Login</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!isLogged" (click)="register()" (click)="register()" class="nav-link active"
                aria-current="page">Register</a>
            </li>

            <ng-template #viewLogout>
              <li class="nav-items">
                <a (click)="navigateToInside()" class="nav-link active">Enter</a>
              </li>
              <li class="nav-items">
                <a (click)="logOut()" class="nav-link active">Logout </a>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
