<div class="allContainer">

  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <div class="buttonContainer">

        <a class="navbar-brand roll-in-blurred-right " href="#">Balances Web</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <ng-particles id="tsparticles" [options]="particlesOptions"></ng-particles>
        <div class="offcanvas-body text-center">

          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a (click)="home()" class="nav-link active" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
              <a (click)="login()" class="nav-link active" aria-current="page">Login</a>
            </li>
            <li class="nav-item">
              <a (click)="register()" class="nav-link active" aria-current="page">Register</a>
            </li>

          </ul>

        </div>
      </div>
    </div>
  </nav>

</div>
