<div class="allContainer">
  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <ng-particles id="tsparticles" [options]="particlesOptions"></ng-particles>
      <div class="buttonContainer">
        <h1 class="navbar-brand roll-in-blurred-right" href="#">
          Balances Web
        </h1>
        <h3 class="showUserName">Welcome {{ user }}</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
<!--         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-down" viewBox="0 0 16 16">
          <path d="M7.646.146a.5.5 0 0 1 .708 0L10.207 2H14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h3.793L7.646.146zM1 7v3h14V7H1zm14-1V4a1 1 0 0 0-1-1h-3.793a1 1 0 0 1-.707-.293L8 1.207l-1.5 1.5A1 1 0 0 1 5.793 3H2a1 1 0 0 0-1 1v2h14zm0 5H1v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zM2 4.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
        </svg> -->
          <span class="navbar-light navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <!-- here waas ts particles -->
        <div class="offcanvas-body text-center">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a (click)="home()" class="nav-link active" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!isLogged; else viewLogout" (click)="login()" class="nav-link active"
                aria-current="page">Login</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!isLogged" (click)="register()" (click)="register()" class="nav-link active"
                aria-current="page">Register</a>
            </li>

            <ng-template #viewLogout>
              <li class="nav-items">
                <a (click)="navigateToInside()" class="nav-link active">Enter</a>
              </li>
              <li class="nav-items">
                <a (click)="logOut()" class="nav-link active">Logout </a>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
